@media screen and (max-width: 1000px){
    
    html {
        background-color: white;
    }

    body {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .decoration {
        height: auto;
        width: 100%;
    }
    .decoration img {
        width: 40%;
    }

    .decoration h2 {
        display: none;
    }

    .container {
        width: 100%;
        height: 70%;
        border-bottom-right-radius:0;
        border-top-left-radius: 40px;
    }
    .container h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .container p {
        margin-bottom: 60px;
    }

    .sub-container {
        margin-top: 30px;
    }

    .container img {
        width: 30%;
        margin-bottom: 40px;
    }

    .container form #btn-submit {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {

}