@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

:root {
    --green: #3FC44E;
    --ligth-green: #3FC44Ecc;
    --grey: #555454;
    --ligth-grey:#6a6969;
    --blue: #38B6FF;
}
 
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
}
 

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #3FC44Ecc;
    display: flex;
}

.container {
    width: 50%;
    height: auto;
    background-color: white;
    display: block;
    align-items: center;
    border-bottom-right-radius: 40px ;
    border-top-right-radius: 40px;
}

.container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 45px;
    color: var(--ligth-grey);
}

.container form{
    display: block;
    height: auto;
}

.container form input {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size:20px;
    border: 2px solid var(--ligth-grey);
}

.container form p {
    text-align: center;
    font-size: 18px;
}


.container p{
    color: var(--ligth-grey);
    margin-bottom: 100px;
}

p a {
    font-weight: bold;
}

.sub-container {
    /*margin: 200px auto 130px auto;*/
    margin: 150px auto 0 auto;
    width: 75%;
    height: auto;
}

#esqueceu-senha {
    color: var(--ligth-grey);
    float: right;
    margin-bottom: 20px;
}

.container form button {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 180px;
    width: 100%;
    height: 60px;
    background-color: var(--blue);
    box-shadow: none;
    border: none;
    color: white;
    font-size: 20px;
    border-radius:15px;
}


.container img{
    display: block;
    width:30%;
    margin-left: auto;
    margin-right: auto;
}


.decoration {
    width: 50%;
    height: 100%;
}

.decoration h2 {
    text-align: right;
    margin-top: 150px;
    margin-right: 5%;
    font-size: 40px;
    font-weight: bold;
    color: white
}

.decoration img {
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input:focus-within{
    border-radius: 10px;
    border: 3px solid var(--blue);
    outline: none;
    outline-offset: none;
    border-width: none;
    border-style: none;
}


a:hover {
    text-decoration: underline;
    color:var(--blue);
}

.btn-login:hover {
    background-color: var(--ligth-green);
}


