@media screen and (max-width: 700px) {
    .hide-desktop {
        display: flex;
    }

    .hide-mobile {
        display: none;
    }

    #app header {
        justify-content: center;
    }

    #app.home main section {
        flex-direction: column;
    }

    #app.home main section article{
        width: 100%;
    }

    
    #app.home main section .content {
        width: 100%;
    }
    
    #app.home main section article.content img {
        width: 80vw;
        margin-bottom: 2rem;
    }

    #app.home main section article.content  h1{
        font-size: 3rem;
    }

    #app.home main section article.content  p {
        font-size: 1rem;
    }


    #app.home main section article.content .buttons {
        margin-top: 2rem;
    }

    .btn {
        font-size: 1rem;
        font-weight: 700;
    }

    #app footer .social-media {
        font-size: 1rem;
        width: 50%;
    }

    #app footer .footer-menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        font-size: .75rem;
        padding: 0 1rem;  
    }
}