@media screen and (max-width: 1000px) {
    .hide-tablet {
        display: none;
    }

    #app.home main section article.content  {
        padding: 0 5%;
    }

    #app.home main section article.content  h1{
        font-size: 3rem;
    }

    #app.home main section article.content  p {
        font-size: 1rem;
    }

    #app.home main section article.content .buttons {
        width: 100%;
    }

    .btn {
        font-size: .75rem;
    }

    #app footer .social-media {
        font-size: 1rem;
        width: 20%;
    }

    #app footer .footer-menu {
        font-size: .75rem;
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .hide-desktop {
        display: flex;
    }

    .hide-mobile {
        display: none;
    }

    #app header {
        justify-content: center;
    }

    #app.home main section {
        flex-direction: column;
    }

    #app.home main section article{
        width: 100%;
    }

    
    #app.home main section .content {
        width: 100%;
    }
    
    #app.home main section article.content img {
        width: 80vw;
        margin-bottom: 2rem;
    }

    #app.home main section article.content  h1{
        font-size: 3rem;
    }

    #app.home main section article.content  p {
        font-size: 1rem;
    }


    #app.home main section article.content .buttons {
        margin-top: 2rem;
    }

    .btn {
        font-size: 1rem;
        font-weight: 700;
    }


    #app footer .social-media {
        font-size: 1rem;
        width: 50%;
    }

    #app footer .footer-menu {
        font-size: .75rem;
        width: 50%;
    }

    #app footer .footer-menu ul {
        flex-direction: column;
        padding-left: 20%;
    }

    #app footer .footer-menu ul li {
        border: none;
        text-align: left;
    }
    
}