@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

:root {
  --green: #3fc44e;
  --grey: #555454;
  --blue: #38b6ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-weight: 300;
}

#app header {
  width: 100%;
  padding: 1rem;
  display: flex;
  padding: 1rem 10%;
}

#app main h1,
#app main h2,
#app main h3,
#app main h4,
#app main h5,
#app main h6 {
  color: var(--grey);
}

#app.home header {
  align-items: center;
}

#app header .logo img {
  height: 2rem;
}

#app.home main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

#app.home main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#app.home main section article {
  width: 50vw;
}

#app.home main section article.content {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#app.home main section article.content .buttons {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

#app.home main section article.content .buttons .btn {
  margin-right: 1rem;
}

#app.home main section article.content .buttons .btn:last-child {
  margin: 0;
}

#app.home main section article.content h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--grey);
}

#app.home main section article.content p {
  font-weight: 300;
  font-size: 2rem;
  color: #aaa;
  text-align: justify;
}

#app.home main section article.image {
  background-image: url(../img/houses.svg);
  background-size: 50rem 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#app footer {
  color: #fff;
  background-color: var(--green);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 300;
}

#app footer .logo img {
  height: 2rem;
}

#app footer .social-media {
  display: flex;
  justify-content: space-evenly;
  width: 10.7%;
  font-size: 1.5rem;
}

#app footer .footer-menu {
  width: 33.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app footer .footer-menu ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#app footer .footer-menu ul li {
  width: 100%;
  border-right: 1px solid #fff;
  text-align: center;
}

#app footer .footer-menu ul li:last-child {
  border: none;
}
#app footer .footer-menu a {
  color: #fff;
}

/** Perfil do Usuário **/
#app.main header {
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
}

#app.main header .logo a {
  width: 50%;
}

#app.main header nav {
  width: 50%;
}

#app.main header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.25rem;
}

#app.main header nav ul li a {
  color: #fff;
  transition: 0.5s;
}

#app.main header nav ul li a:hover {
  color: var(--grey);
}

#app.main.profile main {
  display: flex;
  flex-direction: column;
}

#app.main.profile .profile-wrapper,
#app.detail-anuncio .anuncio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

#app.main.profile .profile-wrapper article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#app.main.profile .profile-wrapper .profile-picture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #555454;
  margin-bottom: 2rem;
}

#app.main.profile .profile-wrapper .profile-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

#app.main.profile .profile-wrapper .profile-form h1 {
  color: var(--grey);
  font-size: 3rem;
}

#app.main.profile .profile-wrapper .profile-form .submit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}

#app.main.profile .content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  color: #fff;
  height: 100%;
  padding: 0 10%;
}

#app.main.profile .content-wrapper h2 {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

#app.main.profile .content-wrapper .liked-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-bottom: 3rem;
}

#app.main.profile .content-wrapper .liked-wrapper .liked .liked-picture {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  background-color: var(--grey);
}

#app.main.profile .content-wrapper .liked-wrapper .liked .description {
  padding: 1rem 0;
  font-weight: 300;
}

#app.main.profile .content-wrapper .liked-wrapper .liked .description .value {
  font-weight: 700;
}

/** Contato **/

#app.main.contact .contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 100%;
}

#app.main.contact .contact-wrapper article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#app.main.contact .contact-wrapper .article2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
}

#app.main.contact .contact-wrapper .contact-form h1 {
  color: var(--grey);
  font-size: 3rem;
  margin-top: 1%;
}

#app.main.contact .contact-wrapper .contact-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

#app.main.contact .contact-wrapper .contact-form button {
  display: inline-block;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  background-color: #38b6ff;
  border: none;
}

#app.detail-anuncio .anuncio-wrapper .anuncio-data {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#app.detail-anuncio .anuncio-wrapper .anuncio-data h1 {
  color: #263238;
  font-size: 2rem;
  text-align: left;
}

#app.detail-anuncio .anuncio-wrapper .anuncio-data h2 {
  color: #7a7979;
  font-weight: normal;
  font-size: 1.3rem;
  vertical-align: middle;
}

#app.detail-anuncio .anuncio-wrapper .text-anuncio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app.detail-anuncio .anuncio-wrapper .text-anuncio h2 {
  color: #263238;
  text-align: right;
}

#app.detail-anuncio .content-wrapper {
  display: flex;
  padding: 0 10%;
}

#app.detail-anuncio .content-wrapper .photos {
  display: flex;
  width: 100%;
}

#app.detail-anuncio .content-wrapper .photos .secondary {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app.detail-anuncio .content-wrapper .photos .secondary .secondary-picture {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  background-color: var(--grey);
}

#app.detail-anuncio .content-wrapper .photos .principal {
  width: 58%;
  margin-right: 1%;
  height: 24.5rem;
  border-radius: 1rem;
  background-color: var(--grey);
}

#app.main.anunciar main {
  padding: 0 10%;
}

#app.main.anunciar form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#app.main.anunciar #form-anunciar div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

#app.main.anunciar #form-anunciar div .inputs {
  display: flex;
  flex-direction: column;
}

#app.main.anunciar #form-anunciar div .inputs .box-input {
  margin-bottom: 1rem;
}

.label-files {
  align-self: flex-end;
  cursor: pointer;
  color: var(--grey);
}
