@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

:root {
   --green: #3FC44E;
   --grey: #555454;
   --blue: #38B6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-weight: 300;
}

#app header {
    width: 100%;
    padding: 1rem;
    display: flex;
    padding: 1rem 10%;
}

#app.home header {
    align-items: center;
}

#app header .logo img{
    height: 2rem;
}


#app.home main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
}

#app.home main section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#app.home main section article {
    width: 50vw;
}

#app.home main section article.content {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#app.home main section article.content  .buttons {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

#app.home main section article.content .buttons .btn {
    margin-right: 1rem;
}

#app.home main section article.content .buttons .btn:last-child {
    margin: 0;
}

#app.home main section article.content  h1 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--grey);
}

#app.home main section article.content  p {
    font-weight: 300;
    font-size: 2rem;
    color: #aaa;
    text-align: justify;
}

#app.home main section article.image {
    background-image: url(../img/houses.svg);
    background-size: 50rem 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#app footer {
    color: #FFF;
    background-color: var(--green);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;
}

#app footer .logo img{
    height: 2rem;
}

#app footer .social-media {
    display: flex;
    justify-content: space-evenly;
    width: 10.7%;
    font-size: 1.5rem;
}

#app footer .footer-menu {
    width: 33.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app footer .footer-menu ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#app footer .footer-menu ul li {
    width: 100%;
    border-right: 1px solid #fff;
    text-align: center;
}

#app footer .footer-menu ul li:last-child {
    border: none;
}
#app footer .footer-menu a {
    color: #FFF;
}

/** Perfil do Usuário **/
#app.main header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
}

#app.main header .logo a {
    width: 50%;
}

#app.main header nav{
    width: 50%;
}

#app.main header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.25rem;
}

#app.main header nav ul li a {
    color:#FFF;
    transition: .5s;
}

#app.main header nav ul li a:hover {
    color: var(--grey);
}

/*Início body*/
#app.main.profile main {
    display: flex;
    flex-direction: column;
}

#app.main.profile .anuncio-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 100%;
}

#app.main.profile .anuncio-wrapper .anuncio-data{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

#app.main.profile .anuncio-wrapper .anuncio-data h1 {
    color: #263238;
    font-size: 2rem;
    text-align: left;
}

#app.main.profile .anuncio-wrapper .anuncio-data h2 {
    color: #7A7979;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: left;
}

#app.main.profile .anuncio-wrapper .title-anuncio{
    display: inline-flex;
    flex-direction: row;
}

#app.main.profile .anuncio-wrapper .title-anuncio h2{
    color:  #263238;
    text-align: right;
}

#app.main.profile .anuncio-wrapper .anuncio-data .submit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1rem;
}

#app.main.profile .content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    color: #FFF;
    height: 100%;
    padding: 0 10%;
}

#app.main.profile .content-wrapper h2 {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
}

#app.main.profile .content-wrapper .liked-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 3rem;
}

#app.main.profile .content-wrapper .liked-wrapper .liked .liked-picture{
    width: 100%;
    height: 12rem;
    border-radius: 1rem;
    background-color: var(--grey);
}

#app.main.profile .content-wrapper .liked-wrapper .liked .description {
    padding: 1rem 0;
    font-weight: 300;
}

#app.main.profile .content-wrapper .liked-wrapper .liked .description .value {
    font-weight: 700;
}
